#crypt {
  color: white;
  background-color: black;
  text-shadow: 0 0 20px #00ff00, 0 0 20px #00ff00;
  text-align: center;
  left: 50px;
  top: 50px;
}

#top {
  font-family: 'Audiowide', cursive;
  clear: both;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 0 0 20px #ff1a1a, 0 0 20px #ff1a1a, 0 0 20px #ff1a1a, 0 0 20px #ff1a1a, 0 0 20px #ff1a1a;
}



body {
  background-color: #000000
}

#name_of_cipher {
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff;
  position: relative;
  bottom: 220px;
}

button {
  position: relative;
  left: 400px;
  bottom: 200px;
}

textarea {
  position: relative;
  width: 300px;
  height: 75px;
  left: 400px;
  bottom: 200px;
}

button {
  position: relative;
  left: 0px;
  top: 40px;
  background-color: black;
  border: none;
}

#caesar:hover, #vigenere:hover {
  text-shadow: 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
}

#crypt:hover {
    text-shadow: 0 0 20px #00ff00, 0 0 20px #00ff00, 0 0 20px #00ff00, 0 0 20px #00ff00, 0 0 20px #00ff00;
}

#caesar, #vigenere {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  position: relative;
  top: 0px;
  border-bottom: double;
  border-right: double;
  border-top: double;
  border-color: #00ff00;
  padding-right: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: #00ff00;
  background-color: black;
  /*margin-left: 20%;*/
  margin-right: auto;
  margin-left: auto;
  text-shadow: 0 0 20px #ffffff;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #00ff00
}

h1 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff;
  color: white;
  position: relative;
  top: 25px;
}

#webname {
  font-family: 'Audiowide', cursive;
  background-color: black;
  display: block;
  width: 20%;
  margin: 0 auto;
  position: relative;
  font-size: 60px;
  color: white;
  clear: both;
  text-shadow: 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000;
}

body {
  background-color: black;
}

#form_text {
  color: white;
  line-height: 2;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  margin-left: 20%;
}

#caesar, #vigenere {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  position: relative;
  top: 0px;
  border-bottom: double;
  border-right: double;
  border-top: double;
  border-color: #00ff00;
  padding-right: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#ciphers {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  position: relative;
  top: 0px;
  padding-right: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-shadow: 0 0 20px #ffff4d, 0 0 20px #ffff4d;
}

#caesar, #vigenere {
  color: #00ff00;
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  /*margin-left: 20%;*/
  margin-right: auto;
  text-shadow: 0 0 20px #ffffff;
  position: relative;
}

#description {
  margin-left: 20%;
  margin-right: auto;
  position: absolute;
  top: 200px;
  text-align: center;
  left: 150px;
}

textarea {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 0px;
  left: 350px;
}

button {
  border: none;
}
#vigenere:hover {
  text-shadow: 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
}

#caesar:hover {
  text-shadow: 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
}

#number {
  position: relative;
}

textarea {
  position: relative;
}
