#crypt {
  color: white;
  background-color: black;
  text-shadow: 0 0 20px #00ff00, 0 0 20px #00ff00;
  text-align: center;
  left: 50px;
  top: 50px;
}

#description {
  text-align: center;
}

body {
  background-color: #000000
}

#name_of_cipher {
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff;
}

button {
  position: relative;
  left: 400px;
  bottom: 200px;
}

textarea {
  position: relative;
  width: 300px;
  height: 75px;
  left: 400px;
  bottom: 200px;
}

button {
  position: relative;
  left: 0px;
  top: 40px;
  background-color: black;
  border: none;
}

#caesar:hover, #vigenere:hover, #trifid:hover {
  text-shadow: 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
}

#crypt:hover {
    text-shadow: 0 0 20px #00ff00, 0 0 20px #00ff00, 0 0 20px #00ff00, 0 0 20px #00ff00, 0 0 20px #00ff00;
}

#caesar, #vigenere, #trifid {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  position: relative;
  top: 0px;
  border-bottom: double;
  border-right: double;
  border-top: double;
  border-color: #00ff00;
  padding-right: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: #00ff00;
  background-color: black;
  /*margin-left: 20%;*/
  margin-right: auto;
  margin-left: auto;
  text-shadow: 0 0 20px #ffffff;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #00ff00
}

h1 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff;
  color: white;
  float: none;
}

#name_of_cipher {
  position: absolute;
  top: 95px;
  left: 600px;
}

#webname {
  font-family: 'Audiowide', cursive;
  background-color: black;
  display: block;
  width: 20%;
  margin: 0 auto;
  position: relative;
  font-size: 60px;
  color: white;
  clear: both;
  text-shadow: 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000;
}

body {
  background-color: black;
}

#form_text {
  color: white;
  line-height: 2;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  margin-left: 20%;
}

#caesar, #vigenere, #trifid {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  position: relative;
  top: 0px;
  border-bottom: double;
  border-right: double;
  border-top: double;
  border-color: #00ff00;
  padding-right: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#ciphers {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  position: relative;
  top: 0px;
  padding-right: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-shadow: 0 0 20px #ffff4d, 0 0 20px #ffff4d;
}

#caesar, #vigenere, #trifid {
  color: #00ff00;
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  /*margin-left: 20%;*/
  margin-right: auto;
  text-shadow: 0 0 20px #ffffff;
  position: relative;
}

#description {
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  top: 200px;
  text-align: center;
  left: 150px;
}

textarea {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 0px;
  left: 350px;
}

button {
  border: none;
}
#caesar:hover, #vigenere:hover, #trifid:hover {
  text-shadow: 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
}

#button {
  color: white;
  text-shadow: 0 0 20px #00ff00, 0 0 20px #00ff00, 0 0 20px #00ff00, 0 0 20px #00ff00, 0 0 20px #00ff00;
  background-color: black;
  border: none;
}

#number {
  position: relative;
}

#encrypt, #decrypt {
  position: relative;
  top: 275px;
  left: 200px;
}


.printchatbox {border-width:thick 10px;border-style: solid;
    background-color:#fff;
    line-height: 2;color:#6E6A6B;font-size: 14pt;text-align:left;float: middle;
    border: 3px solid #969293;width:40%;
     height:2em;
}

#caesar:hover span {
  display: none;
}

#caesar:hover:before {
  content: "Dbftbs";
}

#vigenere:hover span {
  display: none;
}

#vigenere:hover:before {
  content: "Wkjfphsg";
}

#trifid:hover span {
  display: none;
}

#trifid:hover:before {
  content: "Taruio";
}

#encryptbox, #decryptbox, #encryptedbox, #decryptedbox {
  position: relative;
  left: 350px;
  top: 275px;
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

#encryptbox, #decryptbox {
  border: double;
  border-color: #00ff00;
  color: #00ff00;
  margin-top: 40px;
  left: 275px;
}

input::-webkit-input-placeholder {
  color: #00ff00;
  font-family: 'Source Sans Pro', sans-serif;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #00ff00;
  font-family: 'Source Sans Pro', sans-serif;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: #00ff00;
  font-family: 'Source Sans Pro', sans-serif;
}

input:-ms-input-placeholder {
  color: #00ff00;
  font-family: 'Source Sans Pro', sans-serif;
}

#encryptedbox, #decryptedbox {
  background-color: black;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  text-shadow: 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff, 0 0 20px #0000ff;
  color: white;
  position: relative;
  left: 275px;
}

#decryptedbox {
  text-shadow: 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000;
}

/*textarea {
  position: relative;
}*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
