<!DOCTYPE html>
<!-- while this can be used as a template for all cipher articles,
this file is for the Caesar cipher article -->
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/cipherarticles.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>Caesar Cipher</title>
  </head>
  <body>
    <form action = ''>
      <button id = 'webname' type = 'Submit'>Privakey</button>
    </form>
    <h1>Caesarian Shift</h1>
      <p id = 'ciphers'>Ciphers</p>
        <p><form action = 'caesar'>
        <button id = 'caesar' type = 'Submit'>
          Caesar</button>
      </form>
      <form action = 'cycle'>
        <button id = 'vigenere' type = 'Submit'>
          Vigenere</button>
      </form>
      </p>
    <!-- <p id = 'sidebar'>Ciphers <br>
      <form action = 'caesar'>
      <button id = 'caesar' type = 'Submit'>
        Caesar</button>
    </form>
    <form action = 'cycle'>
      <button id = 'vigenere' type = 'Submit'>
        Vigenere</button>
    </form>
    </p>
    <p id = 'name_of_cipher'>Caesar</p> -->
    <p id = 'description'>The Caesar shift takes a number the user inputs and then shifts the entire alphabet down <br>
      by that value. This way, a shift of 4 translates "dadboyz" to "hehfsc". <p>
    <form method = 'post'>
      <input id = 'number' type = 'number' name = 'shift' min = '1' max = '26'>
      <textarea id = 'encrypt' name = 'normal_message'>{{decryptedmessage}}</textarea>
      <button id = 'crypt' type="submit" name = 'submitted' value = 'Encrypt'>Encrypt</button>
      <textarea id = 'decrypt' name = 'encrypted_message'>{{encryptedmessage}}</textarea>
      <button id = 'crypt' type="submit" name = 'submitted' value = 'Decrypt'>Decrypt</button>
  </form>
  </body>
</html>


<!-- include image for tab icon -->
