<!DOCTYPE html>
<!-- while this can be used as a template for all cipher articles,
this file is for the Caesar cipher artical -->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/cipherarticles.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>Caesar Cipher</title>
  </head>
  <body>
    <p id = 'top'>Privakey</p>
    <p id = 'sidebar'>Ciphers <br>
      <form action = 'caesar'>
      <button id = 'caesar' type = 'Submit'>
        Caesar</button>
    </form>
    <form action = 'cycle'>
      <button id = 'vigenere' type = 'Submit'>
        Vigenere</button>
    </form>
    </p>
    <p id = 'name_of_cipher'>Caesar</p>
    <p id = 'description'>cipher description cipher description cipher description cipher description cipher description<p>
    <form method = 'post'>
      <input type = 'number' name = 'shift' min = '1' max = '26'>
      <textarea id = 'encrypt' name = 'normal_message'>{{decryptedmessage}}</textarea>
      <button id = 'button' type="submit" name = 'submitted' value = 'Encrypt'>Encrypt</button>
      <textarea id = 'decrypt' name = 'encrypted_message'>{{encryptedmessage}}</textarea>
      <button id = 'button' type="submit" name = 'submitted' value = 'Decrypt'>Decrypt</button>
  </form>
  </body>
</html>


<!-- include image for tab icon -->
