<!DOCTYPE html>
<html>
<title>{{ciphername}} Cipher</title>
<head>
  <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../static/cycle.css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
  <script src="static/cycle.js"></script>
</head>
<body>
    <form action = '/' method = 'post'>
    <button id = 'webname' type = 'Submit'>Privakey</button>
    </form>
    <br>

  <h1>{{ciphername}} Cipher</h1>
  <p id = 'ciphers'>Ciphers</p>
  <p><form action = 'caesar'>
  <button id = 'caesar' type = 'Submit'>
        Caesar</button>
    </form>
    <form action = 'cycle'>
    <button id = 'vigenere' type = 'Submit'>Vigenere</button>
    </form>
    <form action = 'trifid'>
    <button id = 'trifid' type = 'Submit'>Trifid</button>
    </form>
    </p>
    <p id = 'description'>
    {{cipherdescription}}
    </p>



    <input type = 'text' id = 'code_word'>
    <input type = 'text' name='fname' class='chatinput' id = 'encryptbox'>
    <input type = 'text' name='fname' class='chatinput' id = 'decryptbox'>

    <div class='printchatbox' id='encryptedbox'></div>
    <div class='printchatbox' id='decryptedbox'></div>



    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" type="text/javascript" ></script> -->
    <script src='static/columnar_live_encryption.js'></script>
</body>
</html>
