<!DOCTYPE html>
<html>
<title>Vigenere Cipher</title>
<head>
  <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../static/cycle.css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
  <form action = '/' method = 'post'>
    <button id = 'webname' type = 'Submit'>Privakey</button>
  </form>
  <h1>{{ciphername}} Cipher</h1>
  <p id = 'ciphers'>Ciphers</p>
  <p><form action = 'caesar'>
  <button id = 'caesar' type = 'Submit'>
        Caesar</button>
    </form>
    <form action = 'cycle'>
      <button id = 'vigenere' type = 'Submit'>
        Vigenere</button>
    </form>
    <form action = 'trifid'>
     <button id = 'trifid' type = 'Submit'>Trifid</button>
   </form>
    </p>
    <p id = 'description'>
      {{cipherdescription}}
    </p>
    <form method = 'post' id = 'form_text'>
      What will your code word be? &nbsp <textarea name = 'code_word' rows = '1'>{{code_word}}</textarea>
      <br>

      Insert message to encrypt: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Insert message to decrypt: <br>
      <textarea rows='10' cols='50' name='normal_message'>{{decryptedmessage}}</textarea>
      <input type = 'submit' value = 'Encrypt' name = 'submitted'>
      <textarea rows='10' cols='50' name='encrypted_message'>{{encryptedmessage}}</textarea>
      <input type = 'submit' value = 'Decrypt' name = 'submitted'>
    </form>

</body>
</html>
