<!DOCTYPE html>
<html>
<title>CYCLE Cipher</title>
<body>
  <h1>CYCLE Cipher</h1>
    <p>
      The CYCLE cipher is similar to the classic Caesarian shift. However,
      whereas the Caesar cipher only allows for 1 value of offset throughout a
      string, the CYCLE cipher allows for multiple values of offset. The image
      below shows what each shift would look like.<br>
      <image src = 'static/caesarshift.jpg' width = '300' height = '300' alt = "Caesar cipher wheel">
        <br>
      For example, with a cycle of length 3, one could choose 3 different
      offsets. If one were to choose 1, 2, and 3 as their offsets, then the
      first letter would be replaced with the next letter in the alphabet, the
      second letter would be replaced with the letter that is two positions
      higher in the alphabet, the third letter would be replaced with the
      letter that is 3 positions higher. Then, the fourth letter would be
      replaced with the next letter in the alphabet and the cycle repeats.
      Using this cycle and these shifts, the word "cereal" would then become
      "dgufco".
    </p>
    <form method = 'post'>
      How long would you like your cycle to be? (Max 10)<input type = 'number' name = 'cycle_size' min = '1' max = '10'>
      <br>

      What will the first shift be? (Max 25) <input type = 'number' name = 'shift1' min = '1' max = '25'>
      <br>
      What will the second shift be? (Max 25) <input type = 'number' name = 'shift2' min = '1' max = '25'>
      <br>
      What will the third shift be? (Max 25) <input type = 'number' name = 'shift3' min = '1' max = '25'>
      <br>
      What will the fourth shift be? (Max 25) <input type = 'number' name = 'shift4' min = '1' max = '25'>
      <br>
      What will the fifth shift be? (Max 25) <input type = 'number' name = 'shift5' min = '1' max = '25'>
      <br>
      What will the sixth shift be? (Max 25) <input type = 'number' name = 'shift6' min = '1' max = '25'>
      <br>
      What will the seventh shift be? (Max 25) <input type = 'number' name = 'shift7' min = '1' max = '25'>
      <br>
      What will the eighth shift be? (Max 25) <input type = 'number' name = 'shift8' min = '1' max = '25'>
      <br>
      What will the ninth shift be? (Max 25) <input type = 'number' name = 'shift9' min = '1' max = '25'>
      <br>
      What will the tenth shift be? (Max 25) <input type = 'number' name = 'shift10' min = '1' max = '25'>
      <br>

      Insert message to encrypt:
      <textarea rows='4' cols='50' name='normal_message'>{{decryptedmessage}}</textarea>
      <input type = 'submit' value = 'Encrypt' name = 'submitted'>
      <br>
      Insert message to decrypt:
      <textarea rows='4' cols='50' name='encrypted_message'>{{encryptedmessage}}</textarea>
      <input type = 'submit' value = 'Decrypt' name = 'submitted'>
    </form>

</body>
</html>
