<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>
      Homepage
    </title>
  </head>
  <body>
    <form action = ''>
      <button id = 'webname' type = 'Submit'>Privakey</button>
    </form>
    <p id = 'ciphers'>Ciphers</p>
      <p><form action = 'caesar'>
      <button id = 'caesar' type = 'Submit'>
        Caesar</button>
    </form>
    <form action = 'cycle'>
      <button id = 'vigenere' type = 'Submit'>
        Vigenere</button>
    </form>
    </p>
    <!-- <p id = 'sidebar'>Ciphers <br>
      <form action = 'caesar'>
      <button id = 'caesar' type = 'Submit'>
        Caesar</button>
    </form>
    <form action = 'cycle'>
      <button id = 'vigenere' type = 'Submit'>
        Vigenere</button>
    </form>
    </p> -->
  <div id="container3">
    <div id="container2">
      <div id="container1">
        <div id="statement"><p id = 'description'>Statement</p>statement of page statement of page statement of page statement of page statement of page statement of page statement of page statement of page</div>
        <div id="history"><p id ='description'>History</p>history of ciphers history of ciphers history of ciphers history of ciphers</div>
        <div id="details"><p id = 'description'>Details</p>details of page details of page details of page details of page details of page</div>
      </div>
    </div>
  </div>
  </body>
</html>
