<!DOCTYPE html>
<html>
  <head>
    <title>Private Key</title>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" style="css" href="static/Matrix.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" type="text/javascript" ></script>
    <script src="static/Matrix.js"></script>
  </head>
  <body onload="MatrixAnimation()">
  <canvas id="c"></canvas>
  </body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </body>
 <div class = welcome>

    <form method = 'post'>
    <button class="button" type = 'Submit'>PrivaKey</button>
  </form>
 </div> 

  </html>
