<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../static/trifid.css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
  <title>Trifid</title>
  <body>
    <form action = '/' method="post">
      <button id = 'webname' type = 'Submit'>Privakey</button>
    </form>
    <p id = 'ciphers'>Ciphers</p>
    <p>
      <form action = 'caesar'>
        <button id = 'caesar' type = 'Submit'><span>Caesar</span></button>
      </form>
      <form action = 'cycle'>
       <button id = 'vigenere' type = 'Submit'><span>Vigenere</span></button>
     </form>
     <form action = 'trifid'>
      <button id = 'trifid' type = 'Submit'><span>Trifid</span></button>
    </form>
    <form action = 'columnar'>
    <button id = 'columnar' type = 'Submit'>
      <span>Columnar</span>
    </button>
    </form>
   </p>
    <h1 id = 'name_of_cipher'>{{ciphername}} Cipher</h1>
      <p id = 'description'>{{cipherdescription}}</p>


    <input type = 'text' name='fname' class='chatinput' id = 'encryptbox' placeholder="encrypt">
    <input type = 'text' name='fname' class='chatinput' id = 'decryptbox' placeholder="decrypt">

    <div class='printchatbox' id='encryptedbox'></div>
    <div class='printchatbox' id='decryptedbox'></div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" type="text/javascript" ></script>
    <script src='static/trifid_live_encryptor.js'></script>




  </body>
</html>
