<!DOCTYPE html>
<html>
  <title>Trifid</title>

  <body>
    <h1>Trifid Cipher</h1>
      <p> binaryiscoolbinaryiscoolbinaryiscoolbinaryiscool </p>

      <form method = 'post'>
        Decrypted Message:
        <textarea id = 'encrypt' name = 'normal_message'>{{decryptedmessage}}</textarea>
        <button id = 'button' type="submit" name = 'submitted' value = 'Encrypt'>Encrypt</button>
        Encrypted Message:
        <textarea id = 'decrypt' name = 'encrypted_message'>{{encryptedmessage}}</textarea>
        <button id = 'button' type="submit" name = 'submitted' value = 'Decrypt'>Decrypt</button>
    </form>



  </body>
</html>
